doctype html
html
  head
    title Manage Subscription | Paddle Customer Portal
    meta(name="viewport" content="width=device-width, initial-scale=1")
    script(src="https://cdn.paddle.com/paddle/paddle.js")
    script.
      Paddle.Environment.set("sandbox");
      Paddle.Setup({
        vendor: 582,
      });
    link(rel='stylesheet', href='/css/styles.css')
  body.body
    p.manageHeader Manage Subscription
    .currentPlan.card
      p.headerRow Current Plan - #{response.user_email} 
      .seperator
      p.planText Subscription ID: #{response.subscription_id}
      p.priceText #{response.next_payment.currency} #{response.next_payment.amount}
      p.billingText Your subscription renews on #{response.next_payment.date}
      .buttons  
        a#change.submit(href="http://localhost:7777/change") Change Plan »
        #cancel.submit(href="#!") Cancel Plan »
    .row.card
      p.headerRow Payment Method
      .seperator
      .billingBox
        p.leftBilling #{response.payment_information.card_type}: •••• #{response.payment_information.last_four_digits}
        p.rightBilling Expires: #{response.payment_information.expiry_date}
      #update.submit(href="#!") Update Billing Details »
    .row.card
      p.headerRow Billing History
      .seperator
      .historyBox
        p.leftHistory #{response.last_payment.date}
        p.middleHistory #{response.last_payment.currency} #{response.last_payment.amount} 
        p.rightHistory Plan ID #{response.plan_id} 
      
  script.
    let updateUrl = "#{response.update_url}"
    let cancelUrl = "#{response.cancel_url}"
    let parseUpdateUrl = new DOMParser().parseFromString(updateUrl, "text/html");
    let parseCancelUrl = new DOMParser().parseFromString(cancelUrl, "text/html");
    let update = parseUpdateUrl.documentElement.textContent;  
    let cancel = parseCancelUrl.documentElement.textContent;  
    updateCard = () => {
      Paddle.Checkout.open({
        override: `${update}`
      });
    }
    cancelCard = () => {
      Paddle.Checkout.open({
        override: `${cancel}`
      });
    }
    document.getElementById('update').addEventListener('click', updateCard, false);
    document.getElementById('cancel').addEventListener('click', cancelCard, false);

    
