doctype html
html
  head
    title Billing History | Paddle Customer Portal
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/css/styles.css')
  body.body
    p.mainHeader Billing History
    .row.card
      p.headerRow Receipts
      .seperator
      each payment in payments
        .receiptBox
          .leftBox
            p.leftHistory #{payment.payout_date}
          .middleBox
            p.middleHistory #{payment.currency} #{payment.amount} 
          .rightBox
            if payment.is_paid == 0
                a.rightHistory(href=payment.receipt_url target="_blank") Upcoming Payment
            else             
              a.rightHistory(href=payment.receipt_url target="_blank") View Receipt
